# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*I am interested because I want to use the techniques in solving real life problems*

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib

# Data Science Tools
| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
print((3*4)+5)

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

**Objectives**
- data science
- jupyter
- python basic

## Author
Taufikur Rahman Fuad